html, body{
    background: whitesmoke;
    font-family: sans-serif;
    margin: auto 0;
}

@media only screen and (max-width: 600px) {
    .bar {
        font-size: 0.5em;
        padding: 0;
        gap: 1px;
    }
}

.bar {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-content: center;
    width: auto;
    background-color: rgb(60, 60, 61);
    padding: 15px;
    text-decoration: none;
    color: white;
   /* border: 10px solid black;*/

    

}
.cover{
display: inline-flex;
flex-direction: column;
justify-content: center;
align-content: center;
text-align: center;
padding: auto 0;
width: 100%;
color: black;
background-color:rgb(223, 219, 219);
/*border: 10px solid blue;*/
}

.grid-wrapper{
    display: grid;
    grid-gap: 10px;
    padding: 0;
    margin: auto 0;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.three, .eight{
    grid-column-start: span 2;
}

.box{
    padding: 0;
    margin: 0;
}

.box > img {
    width: 100%;
    height: 100%;
}

.cover img{
   padding: 0;
   width: 100%;
   margin: auto 0;
}


h1{
    /*border: 10px solid red;*/
    width: auto;
    text-align: center;
    color: black;
    letter-spacing: 3px;
    margin-bottom: 0%;
}

h2{
   /* border: 10px solid purple;*/
    width: auto;
    text-align: center;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 0%;
    padding: 0%;
    color: black;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 12px;
}


ul{
    font-weight: lighter;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    padding: 5px;
    margin: 5px;
    list-style: none;
}

li{
    width: 100%;
    letter-spacing: .5;
    padding: 5px;
}

p{
    font-weight: bolder;
}

div a{
    text-decoration: none;
    color:white;
}

.learnmore{
    color: blue;
    width: 100%;
    font-weight: lighter;
  /*  border: 10px solid yellow;*/

}

.learnmore:hover{
    color: black;
    text-decoration: underline;
}

.buy{
    color: blue;
    width: 100%;
    font-weight: lighter;
  /*  border: 10px solid greenyellow;*/

}

.search{
    margin-left: auto;
}

.buy:hover{
    color: black;
    text-decoration: underline;
}